[Unit]
Description=Sharkey Client

[Service]
EnvironmentFile=/etc/sysconfig/sharkey-client
ExecStart=/usr/sbin/sharkey-client --config=${SHARKEY_CONFIG}
Restart=on-failure
User=sharkey

[Install]
WantedBy=multi-user.target
